:root {
  /* Backgrounds  */
  --bg-main: #f2f2f2;
  --bg-body: #d8eff7;
  --bg-navbar: #bfdaeb;
  --bg-active-item: #e9eaeb;

  /* Text Colors */
  --text-primary: #0066a7;
  --text-active: #0e67a7;
  --text-default: #1f2937;

  /* Links & Accents */
  --link-color: #0066a7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bg-main);
}

.custom-body-bg-color {
  background: var(--bg-body);
}

.custom-body-text-color {
  color: var(--text-primary) !important;
}

.custom-active-ul-item-bg-color {
  background: var(--bg-active-item);
}

.custom-active-ul-item-text-color {
  color: var(--link-color) !important;
}

.custom-navbar-bg-color {
  background-color: var(--bg-navbar) !important;
}

.custom-body-page-color {
  background-color: var(--bg-main);
}

.custom-navbar-bg-color {
  background-color: var(--bg-navbar) !important;
}

.custom-link-color {
  color: var(--link-color) !important;
}

.custom-cursor-pointer {
  cursor: pointer;
}

.sidebar {
  height: 100vh !important;
  width: 280px;
}

.sidebar-logo {
  width: 20%;
  height: auto;
}