@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData[index: "Title"] = "Reset Password";
}
@model SliceCloud.Repository.ViewModels.ResetPasswordViewModel

<div class="d-flex align-items-center justify-content-center h-100 p-2 p-md-5">
    <div>
        <div class="d-flex align-items-center justify-content-center mb-5 w-100">
            <div class="d-flex align-items-center justify-content-center gap-2">
                <img src="~/images/logo.png" alt="This is logo" width="15%" height="15%">
                <h1 class="font-weight-bold custom-body-text-color">SliceCloud</h1>
            </div>
        </div>
        <h2 class="mb-4">Reset Your Password</h2>
        <div>
            <form method="post" asp-action="ResetPassword" asp-controller="Auth">
                <input type="hidden" asp-for="Token" />
                <div class="mb-4">
                    <div class="d-flex align-items-center">
                        <input type="password" class="form-control" asp-for="NewPassword"
                            id="custom-password-input_new_password" name="NewPassword" placeholder="New Password*">
                        <img src="~/images/icons/visibility_off.svg" id="toggle_button_eye_new_password"
                            style="display: inline; margin-left: -25px; vertical-align: middle;"
                            class="custom-cursor-pointer" onClick="toggle_new_password()">

                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <div class="d-flex align-items-center">
                        <input type="password" class="form-control" asp-for="ConfirmPassword"
                            id="custom-password-input_confirm_password" name="ConfirmPassword"
                            placeholder="Confirm Password*">
                        <img src="~/images/icons/visibility_off.svg" id="toggle_button_eye_confirm_password"
                            style="display: inline; margin-left: -25px; vertical-align: middle;"
                            class="custom-cursor-pointer" onClick="toggle_confirm_password()">

                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button class="btn btn-primary w-100" type="submit">Submit</button>
                <div class="d-flex justify-content-center mt-3">
                    <a asp-controller="Auth" asp-action="Login" class="text-decoration-none custom-link-color">Back to
                        login</a>
                </div>
            </form>
        </div>
    </div>
</div>